name: BTC Predictor
on:
  schedule:
    - cron: '*/15 * * * *' # Запуск каждые 15 минут
  workflow_dispatch: # Возможность запустить кнопкой

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Script
        run: python predict.py --epochs 25 --batch-size 32
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: btc-prediction
          path: |
            model.h5
            prediction.png
            latest_prediction.txt